@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');



h1 {
  font-family: 'Major Mono Display';
}

h3 {
  font-family: 'Poppins';
}

html {
  scroll-behavior: smooth;

}

button {
  text-decoration: none;
  color: #151515;
}

button:hover {
  text-decoration: none;
  background-color: #151515;
  color: whitesmoke;
}

.container {
  height: 100%;
margin: 0 auto;
display: grid;
justify-content: center;
padding: 20px;
}

.container h1 {
  font-size: 50px;
  text-align: left;
}

#bold {
  font-size: 18px;
  text-align: left;
}

.container p {
  font-size: 20px;
  justify-content: center;
  margin: auto;
  width: 96%;
  text-align: left;
  
}

#email-me {
  font-family: poppins;
  float: left;
  margin: .5rem;
  margin-top: 20px;
  width: 160px;
  background-color: #FFF500;
  border: none;
  padding: 5px;
  border-radius: 35px 2px;
}

#email-me:hover {

  background-color: #151515;
  color: whitesmoke;
  transition: .4s;

}

#spark {
  height: 14rem;
  justify-content: center;

}

#griditem2 {
}


.container {
  text-align: center;
}

#bold {
  font-family: poppins;
  font-weight: bolder;
  color: #FFF500;
  
}

@media (min-width: 800px) {

  .griditem1 {
    padding-top: 2.2vh;
  }


  .container { 
  
    grid-template-columns: repeat(2, 1fr); 
    padding: 30px;
    padding-top: 15vh;
}
  

  .container h1 {
    font-size: 76px;
    text-align: left;
  }
  
  .container p {
    text-align: left;
    font-size: 22px;
    margin: 0px;
  }

  #spark {
    justify-content: center;
    padding-left: 10em;
    height: 400px;
    margin-top: 2rem;
  }

  #bold {
    font-size: 28px;
    color: #FFF500;
    width: 100%;
    
  }
  

  #email-me {
    font-family: poppins;
    float: left;
    width: 160px;
    background-color: #FFF500;
    border: none;
    padding: 5px;
    border-radius: 35px 2px;
  }

}

/*nav*/

#navbar {
  background-color: #151515;
}

.navbar {
}

div.navbar-nav {
  color: whitesmoke;
  padding-top: 2px;
  float: right;
}

.navbar-dark .navbar-nav .nav-link {
  color: whitesmoke;
}

#logo {
  height: 26px;
}

@media only screen and (max-width: 900px) {
  #logo {
    height: 22px;
    margin-top: -4px;
  }

  div.navbar-nav {
    color: whitesmoke;
    padding-top: 2px;
    float: none;
    justify-content: center;
    align-items: center;
  }
}




#home {
  height: 100vh;
  background-image: linear-gradient(139deg, #151515, #FF0065);
  color: white;
}


/*about*/

#about {
  height: 100%;
  background-color: #151515;
}

.about-container {
  max-width: 1200px;
margin: 0 auto;
display: grid;
gap: 2rem;
padding: 10px;
justify-content: center;
}

.griditem3 {
  
  justify-content: center;
  text-align: center;
}
.griditem4 {
  text-align: center;
  align-items: center;

}





#block {
  height: 4px;
  width: 90%;

  background-color: #FFF500;
  margin-bottom: 16px;
  border-radius: 30px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  justify-content: center;

}

#robyn {
text-align: center;
height: 420px;
justify-content: center;
align-items: center;
margin-top: 40px;
}

.about-container h1 {
  font-size: 50px;
  font-weight: bolder;
  color: whitesmoke;
  margin-bottom: 20px;

}

.about-container p { 
  color: whitesmoke;
  width: 90%;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
}


@media (min-width: 800px) {

  #about {
    height: 100vh;
  }

  #about h1 {
    font-size: 60px;

  }

  .about-container { 
    grid-template-columns: repeat(2, 1fr); 
    padding-top: 14vh;
  }

  .griditem3 {
    
    justify-content: center;
    text-align: center;
  }

.griditem4 {
  padding-top: 10vh;

}

#block {
  height: 4px;
  background-color: #FFF500;
  margin-bottom: 16px;
  border-radius: 30px;

}

#robyn {
  line-height: baseline;
  margin-top: 0px;
  height: 500px;
  text-align: left;
}

.about-container p {
  text-align: center;
  font-size: 22px;
}






}






/* services */

.services-container2 {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  }

#services {
  height: 100%;
}

.services-container {
  padding-top: 20px;
  padding: 20px;
}


#services p {
  
  width: 96%;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;

}

#services h2{
  font-family: poppins;
  font-size: 24px;
  margin-top: 2rem;
}

#services h1{
  font-size: 50px;

margin-bottom: 2rem;
font-weight: bolder;
}



#services-block {
  height: 4px;
  background-color: #FF0065;
  border-radius: 30px;
  width: 96%;
  text-align: center;
  margin: auto;
}




#services {
  background-color: #FFF500;
  text-align: center;

}

#services h3 {
  font-size: 20px;
  font-weight: lighter;
  width: 80%;
  justify-content: center;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media (min-width: 800px) {

  .services-container2 { 
    grid-template-columns: repeat(2, 1fr); 
}
  

  #services h1 {
    text-align: left;
    padding: 30px;
    font-size: 60px;

  }

  #services h3 {
    font-size: 20px;
    text-align: left;
    margin-left: 2rem;

  }

  #services p {
    width: 92%;
    text-align: left;
    margin-left: 2rem;
  }

  #services h2 {
    text-align: left;
    padding: 30px;
    font-size: 34px;
    margin-bottom: -50px;

  }

  #services-block {
    height: 4px;
    background-color: #FF0065;
    margin-bottom: 16px;
    border-radius: 30px;
    width: 92%;
    align-items: left;
    padding-left: 20px;
    margin: 30px;
  
    margin-bottom: 20px;
  }



}

/* banner */

#banner {
  height: auto;
  background-color: #FF0065;
}

#banner-item {
  justify-content: center;
  margin: auto;
}


.banner-container {
  margin: 0 auto;
  display: grid;
  padding: 25px;
  grid-template-columns: repeat(2, 1fr); 
}

.banner-container h3 {
  font-size: 22px;
  padding: 8px;
  padding-top: 20px;
  color: whitesmoke;

}

#banner-button {
  font-family: poppins;
  width: 180px;
  background-color: #FFF500;
  border: none;
  padding: 8px;
  border-radius: 35px 2px;
}

#banner-button:hover {
  background-color: #151515;
  color: whitesmoke;
  transition: .4s;
}

  @media (min-width: 800px) {

    #banner-item {
      justify-content: center;
      margin: auto;
    }
    

    #banner-button {
      font-family: poppins;
      width: 180px;
      background-color: #FFF500;
      border: none;
      border-radius: 35px 2px;
    }
    
  }

  /* contact */


  .contact-container {

    background-color: #151515;
    display: grid;
    gap: 2rem;
    justify-content: center;
    color: whitesmoke;
    padding-bottom: 50px;
  }

  #contactinfo {
    display: flex;
    line-height: 22px;
    margin: 10px;
    margin-left: 4rem;



  }

  a {
    display: flex;
    text-decoration: none;
    color: whitesmoke;
  }
  a:hover {
    color: whitesmoke;
  }

  svg {
    margin-right: 20px;
    margin-top: .2rem;
    height: 20px;
  }


  .contact-container h1 {
    font-size: 60px;

    justify-content: center;
    text-align: center;
    margin-top: 50px;

  }

  .contact-container h5 {
    font-size: 20px;
    text-align: center;
    vertical-align: baseline;
  }




  svg {
    color: #FF0065;
  }



  @media (min-width: 800px) {

    .contact-container {
      height: 100vh;
      grid-template-columns: repeat(2, 1fr); 
      justify-content: center;
      padding-bottom: 0px;
    }

    #contactitem1 {
      justify-content: center;
      margin: auto;
    }

    .contact-container h1 {
      font-size: 60px;
      margin-left: 2rem;
      margin-top: 0px;
    }

    .contact-container h5 {
      font-size: 24px;
      text-align: left;
    }

    #contactitem2 {
      justify-content: center;
      margin: auto;
    }
    svg {
      height: 24px;
    }
  }

  /*footer */

  #footer {
    background-color: #FFF500;
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-bottom: 0px;
  }

  #footerlogo {
    height: 30px;
    margin: auto;
    justify-content: center;
    margin-top: 1rem
  }

  #footer h6 {
    margin-top: .5rem;
    padding: 2px;
  }

  #footer svg {
    color: #151515;
    margin: 5px;
    margin-top: .2rem;
    padding: 0px;
  }

  @media (min-width: 800px) {
    #footer {
      height: 14vh;
    }

    #footer h6 {
      margin-top: .5rem;
      ;
    }
  }